*{
    margin: 0;
}
#product-list h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.highlight {
    box-shadow: 0 0 15px rgba(255, 193, 7, 0.6);
    border: 2px solid #ffc107 !important;
    background-color: #fffdf5;
}
